body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(205deg, rgba(84,77,130,1) 0%, rgba(102,98,128,1) 50%);
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}
.home-container {
  display: flex;
  width: 90vw;
  height: 800px;
  max-width: 1500px;
  border-radius: 30px;
  background: black;
  box-shadow: 3px 100px 75px -25px #201e28;
  justify-content: center;
  margin-top: 10%;
  overflow: hidden;
}
.home-container section {
  margin: 1.5%;
  width: 88vw;
  height: 95%;
  border-radius: 20px;
  background:	#11121b;
}
/* Header */
#navitem {
  position: relative;
  z-index: 3;
  color: #ccccce;
  cursor: pointer;
  font-family: 'Abel', sans-serif;;
}
#navitem-blogs {
  position: relative;
  z-index: 3;
  color: #ccccce;
  cursor: pointer;
  font-family: 'Abel', sans-serif;
}
@font-face {
  font-family: TitleFont;
  src: url(Anurati-Regular.otf);
}

/* Title Page */
#home-img {
  position: relative;
  bottom: 40px;
  height: 641px;
  width: 575px;
  filter: drop-shadow( 3px -20px 20px rgba(255,255,255, 0.15)) contrast(125%);
  overflow: hidden;
}
.search-bar {
  position: relative;
  top: -15px;
  left: 19px;
  font-family: 'Abel', sans-serif;
}
#min-title {
  position: relative;
  z-index: 3;
  bottom: 30rem;
  left: 60%;
  font-size: 3rem;
  color: white;
  font-family: TitleFont;
  letter-spacing: 3px;
}
#maj-title {
  position: relative;
  z-index: 3;
  bottom: 30rem;
  left: 50%;
  font-size: 5.5rem;
  color: white;
  font-family: TitleFont;
  letter-spacing: 3px;
}
#blue-box {
  position: relative;
  z-index: 2;
  height: 175px;
  width: 55px;
  background-color: #0017aa;
  float: right;
  left: 20px;
  bottom: 41rem;
}
#button-go {
  position: relative;
  z-index: 3;
  bottom: 27.5rem;
  left: 50%;
  border: 1.5px solid rgba(255,255,255, 0.1);
  padding: 10px 20px 10px 20px;
  background: transparent;
  color: white;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}
#subtitle {
  position: relative;
  z-index: 3;
  top: -450px;
  max-width: 350px;
  letter-spacing: 0.5px;
  font-size: 1rem;
  color: grey;
  float: right;
  font-family: 'Abel', sans-serif;
}
#angle-1 {
  position: relative;
  z-index: 3;
  bottom: 38.5rem;
  left: 305px;
  height: 30px;
  width: 135px;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  -moz-transform: rotate(180deg) skew(-45deg);
  -webkit-transform: rotate(180deg) skew(-45deg);
  transform: rotate(180deg) skew(-45deg);
}
#description-1 {
  position: relative;
  z-index: 3;
  bottom: 41.5rem;
  left: 20.25rem;
  color: grey;
  font-size: 0.7rem;
}
#angle-2 {
  position: relative;
  z-index: 3;
  bottom: 55rem;
  left: 3.5rem;
  height: 80px;
  width: 30px;
  border-bottom: 1px solid grey;
  border-right: 1.5px solid grey;
  -moz-transform: rotate(225deg) skew(-45deg);
  -webkit-transform: rotate(225deg) skew(-45deg);
  transform: rotate(225deg) skew(-45deg);
}
#description-2 {
  position: relative;
  z-index: 3;
  bottom: 59.25rem;
  left: -0.5rem;
  color: grey;
  font-size: 0.7rem;
}
.vr-1 {
  position: relative;
  z-index: 2;
  bottom: 74.75rem;
  left: 10%;
  border-left: 1.5px solid rgba(255,255,255, 0.1);
  height: 760px;
}
.vr-2 {
  position: relative;
  bottom: 122.25rem;
  left: 50%;
  border-left: 1.5px solid rgba(255,255,255, 0.1);
  height: 760px;
}
.vr-3 {
  position: relative;
  bottom: 169.75rem;
  left: 90%;
  border-left: 1.5px solid rgba(255,255,255, 0.1);
  height: 760px;
}
/* What's New Article Cards */
#new-article-list {
  max-width: 1500px;
}
/* Search Bar */
#search-input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  background: rgba(0, 0, 0, 0);
  border-radius: 0%;
}
#search-input::placeholder {
  color: white;
  opacity: 1;
}
#search-button {
  position: relative;
  z-index: 3;
  margin-top: 10px;
  background-color: darkblue;
  border: none;
  color: white;
  padding: 0px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* SignIn*/
#signin-container {
  max-width: 1000px;
  width: 1000px;
}
/* SignUp*/
#signup-container {
  max-width: 1000px;
  width: 1000px;
}




/* Blogs */
#container-cats-tags {
  height: 175px;
  margin-bottom: 10px;
  max-width: 1500px;
  background-color: #11121b;
  border-radius: 10px;
}
#filter-cat-tag-title {
  padding-left: 10px;
  color: white;
  font-family: 'Abel', sans-serif;
}
#cat-tag-container {
  margin-top: 15px;
  padding-left: 5px;
}
#blog-list-card {
  all: initial;
  padding-bottom: 25px;
}
#blog-list-card h2 {
  color: white;
}

/* Home page Card */
article {
  display: flex;
  width: 90vw;
  height: 55vh;
  max-width: 1500px;
  background: #11121b;
  border-radius: 15px;
  box-shadow: 3px 100px 75px -25px #201e28;
  margin-top: 10%;
}
#home-card-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
#home-card {
  width: 350px;
  height: 550px;
  border: 1.5px solid white;
}
#home-card-title {
  width: 300px;
  position: relative;
  top: 25px;
  left: 20px;
  text-shadow: 1px 1px 2px black;
}
.home-card-read-more {
  position: relative;
  top: 475px;
  left: 10px;
  padding: 10px;
  border: 1px solid white;
  width: 100px;
  border-radius: 15px;
  background:
    linear-gradient(#3a74b4, transparent),
    linear-gradient(to top left, #1dc3fd, transparent),
    linear-gradient(to top right, #4a45fc, transparent);
  background-blend-mode: screen;
  font-family: 'Abel', sans-serif;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}



/* Blog Card */

.card-blog-container {
  all: initial;
  display: flex;
  width: 90vw;
  height: 650px;
  max-width: 1500px;
  background: #3b322f;
  box-shadow: 3px 100px 75px -25px #201e28;
  justify-content: center;
  margin-top: 10%;
  overflow: hidden;
}
.article-button {
  margin-left: 8px;
  padding: 10px;
  border: 1px solid white;
  width: 100px;
  border-radius: 15px;
  background:
  linear-gradient(#3a74b4, transparent),
  linear-gradient(to top left, #1dc3fd, transparent),
  linear-gradient(to top right, #4a45fc, transparent);
  background-blend-mode: screen;
  font-family: 'Abel', sans-serif;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}
.article-button:hover {
  color: white;
}
#blog-card-img-container {
  position: relative;
  left: 80%;
  height: 650px;
  width: 575px;
  background-color: lightblue;
  border-radius: 1px;
}
#blog-card-written {
  position: relative;
  bottom: 98%;
  z-index: 3;
  color: white;
  background-color: transparent;
  height: 25px;
  width: 500px;
  margin-left: 15px;
  font-family: 'Abel', sans-serif;
}
#blog-card-content {
  color: white;
  position: relative;
  z-index: 1;
  bottom: 75%;
  height: 200px;
  width: 350px;
  padding-left: 10px;
  font-family: 'Abel', sans-serif;
}
.blog-excerpt {
  width: 250px;
}
#blog-card-title-container {
  position: relative;
  bottom: 60%;
  padding-left: 10px;
  width: 450px;
}
#blog-card-title {
  font-size: 2.5rem;
  font-family: 'Bebas Neue', cursive;
  color: white;
}
#article-tag-margin-top {
  position: relative;
  top: 30px;
}
#blog-card-tags-cats {
  position: relative;
  top: -180px;
  height: 60px;
  width: 200px;
  font-family: 'Abel', sans-serif;
}
.explore-more-container {
  position: relative;
  bottom: 60%;
  left: 65%;
  text-align: center;
  height: 225px;
  width: 225px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.the-arrow {
  width: 1px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.the-arrow.-left {
  position: absolute;
  top: 60%;
  left: 0;
}
.the-arrow.-left > .shaft {
  width: 0;
  background-color: #4c4c4c;
}
.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
  width: 0;
  background-color: #4c4c4c;
}
.the-arrow.-left > .shaft:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.the-arrow.-left > .shaft:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.the-arrow.-right {
  top: 3px;
}
.the-arrow.-right > .shaft {
  width: 1px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
  width: 8px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.the-arrow.-right > .shaft:before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
.the-arrow.-right > .shaft:after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.the-arrow > .shaft {
  background-color: #4c4c4c;
  display: block;
  height: 1px;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  will-change: transform;
}
.the-arrow > .shaft:before, .the-arrow > .shaft:after {
  background-color: #4c4c4c;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.the-arrow > .shaft:before {
  -webkit-transform-origin: top right;
          transform-origin: top right;
}
.the-arrow > .shaft:after {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.animated-arrow {
  display: inline-block;
  color: #4c4c4c;
  font-size: 1.25em;
  font-style: italic;
  text-decoration: none;
  position: relative;
  top: 105px;
  right: 45px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.animated-arrow:hover {
  color: #808080;
}
.animated-arrow:hover > .the-arrow.-left > .shaft {
  width: 64px;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  background-color: #808080;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
  width: 8px;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  background-color: #808080;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
.animated-arrow:hover > .the-arrow.-left > .shaft:after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.animated-arrow:hover > .main {
  -webkit-transform: translateX(17px);
          transform: translateX(17px);
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft {
  width: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  width: 0;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.animated-arrow > .main {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.animated-arrow > .main > .text {
  margin: 0 16px 0 0;
  line-height: 1;
}
.animated-arrow > .main > .the-arrow {
  position: relative;
}

/* Blog Article */
#article-layout {
  height: 100vh;
  width: 100vw;
  background: #202029;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}
#article-background {
  position: relative;
  top: 5%;
  left: 30%;
}
#article-background-image {
  height: 850px;
  width: 900px;
}
#article {
  position: relative;
  left: 10%;
  bottom: 50%;
  display: grid;
  text-align: center;
  height: 1000px;
  width: 750px;
  background: #11121b;
}
#article-container-img {
  position: relative;
  left: 38rem;
  top: 35rem;
  width: 575px;
}
#article-container-header {
  position: relative;
  bottom: 35.5rem;
}
#article-container {
  all: initial;
  position: relative;
  left: 5rem;
  bottom: 32rem;
  width: 500px;
  color: white;
  font-size: 1.4rem;
  font-family: 'Abel', sans-serif;
}
/* Overflow*/
#nprogress .bar {
    height: 4px !important;
}
.ql-editor {
    min-height: 300px;
}
.featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}
