body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(205deg, rgba(84,77,130,1) 0%, rgba(102,98,128,1) 50%);
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}
.home-container {
  display: flex;
  width: 90vw;
  height: 800px;
  max-width: 1500px;
  border-radius: 30px;
  background: black;
  box-shadow: 3px 100px 75px -25px #201e28;
  justify-content: center;
  margin-top: 10%;
  overflow: hidden;
}
.home-container section {
  margin: 1.5%;
  width: 88vw;
  height: 95%;
  border-radius: 20px;
  background:	#11121b;
}
/* Header */
#navitem {
  position: relative;
  z-index: 3;
  color: #ccccce;
  cursor: pointer;
  font-family: 'Abel', sans-serif;;
}
#navitem-blogs {
  position: relative;
  z-index: 3;
  color: #ccccce;
  cursor: pointer;
  font-family: 'Abel', sans-serif;
}
@font-face {
  font-family: TitleFont;
  src: url(Anurati-Regular.otf);
}

/* Title Page */
#home-img {
  position: relative;
  bottom: 40px;
  height: 641px;
  width: 575px;
  filter: drop-shadow( 3px -20px 20px rgba(255,255,255, 0.15)) contrast(125%);
  overflow: hidden;
}
.search-bar {
  position: relative;
  top: -15px;
  left: 19px;
  font-family: 'Abel', sans-serif;
}
#min-title {
  position: relative;
  z-index: 3;
  bottom: 30rem;
  left: 60%;
  font-size: 3rem;
  color: white;
  font-family: TitleFont;
  letter-spacing: 3px;
}
#maj-title {
  position: relative;
  z-index: 3;
  bottom: 30rem;
  left: 50%;
  font-size: 5.5rem;
  color: white;
  font-family: TitleFont;
  letter-spacing: 3px;
}
#blue-box {
  position: relative;
  z-index: 2;
  height: 175px;
  width: 55px;
  background-color: #0017aa;
  float: right;
  left: 20px;
  bottom: 41rem;
}
#button-go {
  position: relative;
  bottom: 27.5rem;
  left: 50%;
  border: 1.5px solid rgba(255,255,255, 0.1);
  padding: 10px 20px 10px 20px;
  background: transparent;
  color: white;
  font-size: 13px;
  text-align: center;
}
#subtitle {
  position: relative;
  z-index: 3;
  top: -450px;
  max-width: 350px;
  letter-spacing: 0.5px;
  font-size: 1rem;
  color: grey;
  float: right;
  font-family: 'Abel', sans-serif;
}
#angle-1 {
  position: relative;
  z-index: 3;
  bottom: 38.5rem;
  left: 305px;
  height: 30px;
  width: 135px;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  -moz-transform: rotate(180deg) skew(-45deg);
  -webkit-transform: rotate(180deg) skew(-45deg);
  transform: rotate(180deg) skew(-45deg);
}
#description-1 {
  position: relative;
  z-index: 3;
  bottom: 41.5rem;
  left: 20.25rem;
  color: grey;
  font-size: 0.7rem;
}
#angle-2 {
  position: relative;
  z-index: 3;
  bottom: 55rem;
  left: 3.5rem;
  height: 80px;
  width: 30px;
  border-bottom: 1px solid grey;
  border-right: 1.5px solid grey;
  -moz-transform: rotate(225deg) skew(-45deg);
  -webkit-transform: rotate(225deg) skew(-45deg);
  transform: rotate(225deg) skew(-45deg);
}
#description-2 {
  position: relative;
  z-index: 3;
  bottom: 59.25rem;
  left: -0.5rem;
  color: grey;
  font-size: 0.7rem;
}
.vr-1 {
  position: relative;
  z-index: 2;
  bottom: 74.75rem;
  left: 10%;
  border-left: 1.5px solid rgba(255,255,255, 0.1);
  height: 760px;
}
.vr-2 {
  position: relative;
  bottom: 122.25rem;
  left: 50%;
  border-left: 1.5px solid rgba(255,255,255, 0.1);
  height: 760px;
}
.vr-3 {
  position: relative;
  bottom: 169.75rem;
  left: 90%;
  border-left: 1.5px solid rgba(255,255,255, 0.1);
  height: 760px;
}
/* What's New Article Cards */
#new-article-list {
  max-width: 1500px;
}
/* Search Bar */
#search-input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  background: rgba(0, 0, 0, 0);
  border-radius: 0%;
}
#search-input::placeholder {
  color: white;
  opacity: 1;
}
#search-button {
  position: relative;
  z-index: 3;
  margin-top: 10px;
  background-color: darkblue;
  border: none;
  color: white;
  padding: 0px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* SignIn*/
#signin-container {
  max-width: 1000px;
  width: 1000px;
}
/* SignUp*/
#signup-container {
  max-width: 1000px;
  width: 1000px;
}




/* Blogs */
#container-cats-tags {
  height: 175px;
  margin-bottom: 10px;
  max-width: 1500px;
  background-color: #11121b;
  border-radius: 10px;
}
#filter-cat-tag-title {
  padding-left: 10px;
  color: white;
  font-family: 'Abel', sans-serif;
}
#cat-tag-container {
  margin-top: 15px;
  padding-left: 5px;
}
#blog-list-card {
  all: initial;
  padding-bottom: 25px;
}
#blog-list-card h2 {
  color: white;
}

/* Home page Card */
#home-card-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
#home-card {
  width: 350px;
  height: 550px;
  border: 1.5px solid white;
}
#home-card-title {
  width: 300px;
  position: relative;
  top: 25px;
  left: 20px;
  text-shadow: 1px 1px 2px black;
}
/* Blog Card */
article {
  display: flex;
  width: 90vw;
  height: 55vh;
  max-width: 1500px;
  background: #11121b;
  border-radius: 15px;
  box-shadow: 3px 100px 75px -25px #201e28;
  margin-top: 10%;
}
#blog-card-written {
  color: white;
  background-color: transparent;
  height: 25px;
  width: 500px;
  margin-left: 15px;
  font-family: 'Abel', sans-serif;
}
#blog-card-tags-cats {
  position: relative;
  top: -180px;
  height: 60px;
  width: 200px;
  font-family: 'Abel', sans-serif;
}
#blog-card-img-container {
  position: relative;
  left: 410px;
  height: 500px;
  width: 70%;
  background-color: lightblue;
  border-radius: 1px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
#blog-card-img {
  height: 100%;
  width: 100%;
}
#blog-card-content {
  color: white;
  position: relative;
  z-index: 1;
  top: -50%;
  height: 200px;
  width: 350px;
  padding-left: 10px;
  font-family: 'Abel', sans-serif;
}
#blog-card-button-container {
  position: relative;
  top: -160%;
  left: 55%;
  z-index: -1;
  display: inline-block;
  text-align: center;
  height: 200px;
  width: 200px;
  border: 1px solid purple;
  border-radius: 50%;
  cursor: pointer;
}
#blog-card-button {
  position: relative;
  top: 45%;
  margin: 0;
  font-size: 1.2rem;
}
#blog-card-title {
  position: relative;
  left: 100%;
  margin-bottom: 25px;
  width: 400px;
  font-size: 2rem;
  font-family: 'Abel', sans-serif;
}



/* Blog Article */
#article {
  display: grid;
  text-align: center;
  width: 90vw;
  height: 65vh;
  max-width: 1500px;
  background: #11121b;
  border-radius: 15px;
  box-shadow: 3px 100px 75px -25px #201e28;
  margin-top: 10%;
}
#article-container-header {
  grid-area: header;
}
#article-container {
  grid-area: main;
  height: 300px;
  width: 400px;
  background-color: white;
}



/* Overflow*/
#nprogress .bar {
    height: 4px !important;
}
.ql-editor {
    min-height: 300px;
}
.featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}
