body {
  width: 100%;
  background: linear-gradient(205deg, rgba(84,77,130,1) 0%, rgba(102,98,128,1) 50%);
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: scroll;
  display: flex;
  justify-content: center;
}
.home-container {
  position: relative;
  display: flex;
  width: 90vw;
  height: 800px;
  max-width: 1500px;
  border-radius: 30px;
  background: black;
  box-shadow: 3px 100px 75px -25px #201e28;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  overflow: hidden;
}
@media only screen and (max-width: 585px) {
   .home-container {
     height: 600px;
  }
}
.home-container section {
  margin: auto;
  width: 97.5%;
  height: 95%;
  border-radius: 20px;
  background:	#11121b;
}
@media only screen and (max-width: 980px) {
   .home-container section {
    height: 96.5%;
    border-radius: 25px;
  }
}
@media only screen and (max-width: 585px) {
   .home-container section {
     height: 98%;
     border-radius: 25px;
  }
}
/* Header */
#navitem {
  position: relative;
  z-index: 3;
  color: #ccccce;
  cursor: pointer;
  font-family: 'Abel', sans-serif;;
}
#navitem-blogs {
  position: relative;
  z-index: 3;
  color: #ccccce;
  cursor: pointer;
  font-family: 'Abel', sans-serif;
}
@font-face {
  font-family: TitleFont;
  src: url(Anurati-Regular.otf);
}
.navbar-toggler-icon {
  filter: invert(100%);
}
/* Title Page */
#home-img {
  position: relative;
  bottom: 40px;
  height: 641px;
  width: 575px;
  filter: drop-shadow( 3px -20px 20px rgba(255,255,255, 0.15)) contrast(125%);
  overflow: hidden;
}
@media only screen and (max-width: 980px) {
   #home-img {
    bottom: 27px;
  }
}
@media only screen and (max-width: 815px) {
   #home-img {
     height: 600px;
     width: 530px;
     top: 14px;
  }
}
@media only screen and (max-width: 700px) {
   #home-img {
     height: 565px;
     width: 515px;
     top: 49px;
     right: 5%;
  }
}
@media only screen and (max-width: 585px) {
   #home-img {
     height: 425px;
     width: 375px;
     top: 5px;
  }
}
@media only screen and (max-width: 475px) {
   #home-img {
     height: 375px;
     width: 325px;
     top: 54.5px;
  }
}
@media only screen and (max-width: 420px) {
   #home-img {
     right: 9%;
  }
}
.search-bar {
  position: relative;
  top: -15px;
  left: 19px;
  font-family: 'Abel', sans-serif;
}
#min-title {
  position: relative;
  z-index: 3;
  bottom: 30rem;
  left: 57.5%;
  font-size: 3rem;
  color: white;
  font-family: TitleFont;
  letter-spacing: 3px;
}
@media only screen and (max-width: 1325px) {
   #min-title {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 1225px) {
   #min-title {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 1100px) {
   #min-title {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 975px) {
   #min-title {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 815px) {
   #min-title {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 700px) {
   #min-title {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 585px) {
   #min-title {
    font-size: 0.6rem;
    bottom: 22rem;
  }
}
@media only screen and (max-width: 475px) {
   #min-title {
    font-size: 0.55rem;
    bottom: 18rem;
  }
}
#maj-title {
  position: relative;
  z-index: 3;
  bottom: 30rem;
  left: 50%;
  font-size: 5.5rem;
  color: white;
  font-family: TitleFont;
  letter-spacing: 3px;
}
@media only screen and (max-width: 1325px) {
   #maj-title {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 1225px) {
   #maj-title {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 1100px) {
   #maj-title {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 975px) {
   #maj-title {
    font-size: 3.25rem;
  }
}
@media only screen and (max-width: 815px) {
   #maj-title {
    font-size: 2.75rem;
  }
}
@media only screen and (max-width: 700px) {
   #maj-title {
    font-size: 2.25rem;
  }
}
@media only screen and (max-width: 585px) {
   #maj-title {
    font-size: 1.75rem;
    bottom: 22rem;
  }
}
@media only screen and (max-width: 475px) {
   #maj-title {
    font-size: 1.55rem;
    bottom: 18rem;
  }
}
@media only screen and (max-width: 420px) {
   #maj-title {
    font-size: 1.25rem;
    left: 50%;
  }
}
#blue-box {
  position: relative;
  z-index: 2;
  height: 175px;
  width: 55px;
  background-color: #0017aa;
  float: right;
  right: 10%;
  bottom: 41rem;
}
@media only screen and (max-width: 1325px) {
   #blue-box {
    height: 175px;
    right: 2%;
  }
  @media only screen and (max-width: 1225px) {
     #blue-box {
      height: 155px;
      width: 45px;
      right: 4%;
      bottom: 40rem;
    }
  }
  @media only screen and (max-width: 1100px) {
     #blue-box {
      height: 125px;
      width: 40px;
      bottom: 38rem;
    }
  }
  @media only screen and (max-width: 975px) {
     #blue-box {
      height: 100px;
      width: 20px;
      right: 8%;
      bottom: 36rem;
    }
  }
  @media only screen and (max-width: 815px) {
     #blue-box {
      height: 80px;
      width: 20px;
      right: 8%;
      bottom: 35rem;
    }
  }
}
@media only screen and (max-width: 585px) {
   #blue-box {
    bottom: 26rem;
  }
}
@media only screen and (max-width: 475px) {
   #blue-box {
    bottom: 22rem;
  }
}
@media only screen and (max-width: 420px) {
   #blue-box {
    bottom: 21rem;
  }
}
#button-go {
  position: relative;
  z-index: 3;
  bottom: 27.5rem;
  left: 50%;
  border: 1.5px solid rgba(255,255,255, 0.1);
  padding: 10px 20px 10px 20px;
  background: transparent;
  color: white;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 1100px) {
   #button-go {
    padding: 7px 17.5px 7px 17.5px;
    font-size: 11px;
    bottom: 23rem;
  }
}
@media only screen and (max-width: 815px) {
   #button-go {
    left: 70%;
  }
}
@media only screen and (max-width: 585px) {
   #button-go {
    bottom: 15rem;
  }
}
@media only screen and (max-width: 475px) {
   #button-go {
    bottom: 12rem;
  }
}
@media only screen and (max-width: 435px) {
   #button-go {
    bottom: 10rem;
    left: 60%;
  }
}
#subtitle {
  position: relative;
  z-index: 3;
  top: -450px;
  max-width: 350px;
  letter-spacing: 0.5px;
  font-size: 1rem;
  color: grey;
  float: right;
  font-family: 'Abel', sans-serif;
}
@media only screen and (max-width: 815px) {
   #subtitle {
    font-size: 0.8rem;
    max-width: 300px;
  }
}
@media only screen and (max-width: 700px) {
   #subtitle {
    font-size: 0.65rem;
    max-width: 200px;
    top: -475px;
    right: 7%;
  }
}
@media only screen and (max-width: 585px) {
   #subtitle {
    top: -350px;
    right: 4%;
  }
}
@media only screen and (max-width: 535px) {
   #subtitle {
    right: 0%;
  }
}
@media only screen and (max-width: 500px) {
   #subtitle {
     font-size: 0.55rem;
     max-width: 175px;
  }
}
@media only screen and (max-width: 475px) {
   #subtitle {
     top: -290px;
  }
}
@media only screen and (max-width: 450px) {
   #subtitle {
     max-width: 150px;
  }
}
@media only screen and (max-width: 390px) {
   #subtitle {
     max-width: 135px;
  }
}
#angle-1 {
  position: relative;
  z-index: 3;
  bottom: 38.5rem;
  left: 305px;
  height: 30px;
  width: 135px;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  -moz-transform: rotate(180deg) skew(-45deg);
  -webkit-transform: rotate(180deg) skew(-45deg);
  transform: rotate(180deg) skew(-45deg);
}
@media only screen and (max-width: 1225px) {
   #angle-1 {
    bottom: 36.5rem;
  }
}
@media only screen and (max-width: 1100px) {
   #angle-1 {
    bottom: 34.5rem;
  }
}
@media only screen and (max-width: 1045px) {
   #angle-1 {
     height: 20px;
     width: 105px;
     bottom: 33rem;
  }
}
@media only screen and (max-width: 975px) {
   #angle-1 {
     bottom: 31.5rem;
  }
}
@media only screen and (max-width: 815px) {
   #angle-1 {
     bottom: 26rem;
     left: 285px;
  }
}
@media only screen and (max-width: 700px) {
   #angle-1 {
     bottom: 22rem;
     left: 245px;
  }
}
@media only screen and (max-width: 585px) {
   #angle-1 {
     bottom: 19rem;
     left: 185px;
     width: 90px;
  }
}
@media only screen and (max-width: 475px) {
   #angle-1 {
     bottom: 14rem;
     left: 165px;
  }
}
@media only screen and (max-width: 420px) {
   #angle-1 {
     left: 145px;
  }
}
#description-1 {
  position: relative;
  z-index: 3;
  bottom: 41.5rem;
  left: 20.25rem;
  color: grey;
  font-size: 0.7rem;
}
@media only screen and (max-width: 1225px) {
   #description-1 {
    bottom: 39.5rem;
  }
}
@media only screen and (max-width: 1100px) {
   #description-1 {
    bottom: 37.5rem;
  }
}
@media only screen and (max-width: 1045px) {
   #description-1 {
    bottom: 35.25rem;
    left: 19.5rem;
    font-size: 0.6rem;
  }
}
@media only screen and (max-width: 1045px) {
   #description-1 {
    bottom: 33.65rem;
  }
}
@media only screen and (max-width: 815px) {
   #description-1 {
    bottom: 28.25rem;
    left: 18.5rem;
  }
}
@media only screen and (max-width: 700px) {
   #description-1 {
    bottom: 24.15rem;
    left: 16rem;
  }
}
@media only screen and (max-width: 585px) {
   #description-1 {
    bottom: 21rem;
    left: 12rem;
    font-size: 0.5rem;
  }
}
@media only screen and (max-width: 475px) {
   #description-1 {
    bottom: 16rem;
    left: 10.75rem;
    font-size: 0.5rem;
  }
}
@media only screen and (max-width: 420px) {
   #description-1 {
    left: 9.5rem;
  }
}
#angle-2 {
  position: relative;
  z-index: 3;
  bottom: 55rem;
  left: 3.5rem;
  height: 80px;
  width: 30px;
  border-bottom: 1px solid grey;
  border-right: 1.5px solid grey;
  -moz-transform: rotate(225deg) skew(-45deg);
  -webkit-transform: rotate(225deg) skew(-45deg);
  transform: rotate(225deg) skew(-45deg);
}
@media only screen and (max-width: 1225px) {
   #angle-2 {
    bottom: 56.75rem;
  }
}
@media only screen and (max-width: 1100px) {
   #angle-2 {
    bottom: 56.5rem;
    left: 3.75rem;
  }
}
@media only screen and (max-width: 1045px) {
   #angle-2 {
    bottom: 56rem;
    left: 4rem;
  }
}
@media only screen and (max-width: 1045px) {
   #angle-2 {
    bottom: 56rem;
    left: 4rem;
  }
}
@media only screen and (max-width: 975px) {
   #angle-2 {
    bottom: 54.5rem;
  }
}
@media only screen and (max-width: 815px) {
   #angle-2 {
    height: 70px;
    width: 20px;
    bottom: 47rem;
  }
}
@media only screen and (max-width: 700px) {
   #angle-2 {
    bottom: 44rem;
  }
}
@media only screen and (max-width: 585px) {
   #angle-2 {
    height: 50px;
    bottom: 37rem;
    left: 3rem;
  }
}
@media only screen and (max-width: 475px) {
   #angle-2 {
    bottom: 30.25rem;
    left: 2.15rem;
  }
}
@media only screen and (max-width: 420px) {
   #angle-2 {
    bottom: 30rem;
  }
}
#description-2 {
  position: relative;
  z-index: 3;
  bottom: 59.25rem;
  left: 0.20rem;
  color: grey;
  font-size: 0.7rem;
}
@media only screen and (max-width: 1225px) {
   #description-2 {
    bottom: 61rem;
  }
}
@media only screen and (max-width: 1100px) {
   #description-2 {
    bottom: 60.75rem;
    left: 0.5rem;
  }
}
@media only screen and (max-width: 1045px) {
   #description-2 {
    font-size: 0.6rem;
    bottom: 60rem;
    left: 1rem;
  }
}
@media only screen and (max-width: 975px) {
   #description-2 {
    bottom: 58.5rem;
  }
}
@media only screen and (max-width: 815px) {
   #description-2 {
    bottom: 50.5rem;
  }
}
@media only screen and (max-width: 700px) {
   #description-2 {
    bottom: 47.5rem;
  }
}
@media only screen and (max-width: 585px) {
   #description-2 {
    bottom: 39.75rem;
    left: 0.5rem;
    font-size: 0.5rem;
  }
}
@media only screen and (max-width: 475px) {
   #description-2 {
    bottom: 33rem;
    left: 0.1rem;
    font-size: 0.5rem;
  }
}
@media only screen and (max-width: 420px) {
   #description-2 {
    bottom: 32.75rem;
  }
}
.vr-1 {
  position: relative;
  z-index: 2;
  bottom: 157.5%;
  left: 10%;
  border-left: 1.5px solid rgba(255,255,255, 0.1);
  height: 100%;
}
@media only screen and (max-width: 1325px) {
   .vr-1 {
    bottom: 155%;
  }
}
@media only screen and (max-width: 1225px) {
   .vr-1 {
    bottom: 152.5%;
  }
}
@media only screen and (max-width: 1100px) {
   .vr-1 {
    bottom: 148.5%;
  }
}
@media only screen and (max-width: 1045px) {
   .vr-1 {
    bottom: 146.5%;
  }
}
@media only screen and (max-width: 980px) {
   .vr-1 {
    bottom: 144.5%;
  }
}
@media only screen and (max-width: 980px) {
   .vr-1 {
    bottom: 144.5%;
  }
}
@media only screen and (max-width: 975px) {
   .vr-1 {
    bottom: 142%;
  }
}
@media only screen and (max-width: 815px) {
   .vr-1 {
    bottom: 133.5%;
  }
}
@media only screen and (max-width: 700px) {
   .vr-1 {
    bottom: 127%;
  }
}
@media only screen and (max-width: 585px) {
   .vr-1 {
    bottom: 136.5%;
  }
}
@media only screen and (max-width: 475px) {
   .vr-1 {
    bottom: 127.25%;
  }
}
@media only screen and (max-width: 420px) {
   .vr-1 {
    bottom: 126.25%;
  }
}
.vr-2 {
  position: absolute;
  z-index: 5;
  left: 0;
  bottom: 50%;
  border-top: 1.5px solid rgba(255,255,255, 0.1);
  height: auto;
  width: 100%;
  transform: rotate(90deg);
}
.vr-2:after {
  animation: kitt 4s infinite ease-in-out alternate;
  background-color: cyan;
  box-shadow: 0 0 3px 1px cyan;
  content: '';
  position: absolute;
  top: -1px;
}
@keyframes kitt {
  0% {
    border-radius: 30px;
    opacity: .4;
    transform: scale(1);
    width: 1%;
  }
  10% {
    width: 2.5%;
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    border-radius: 0;
    opacity: 1;
    transform: scale(1.7);
    width: 4%;
  }
  75% {
    transform: scale(1.3);
  }
  90% {
    width: 2.5%;
  }
  100% {
    margin-left: 99%;
    opacity: .4;
    transform: scale(1);
    width: 1%;
  }
}
@media only screen and (max-width: 930px) {
   .vr-2 {
     width: 120%;
     left: -10%;
  }
}
@media only screen and (max-width: 775px) {
   .vr-2 {
    width: 140%;
    left: -20%;
  }
}
@media only screen and (max-width: 670px) {
   .vr-2 {
     width: 160%;
     left: -30%;
  }
}
@media only screen and (max-width: 450px) {
   .vr-2 {
     width: 200%;
     left: -50%;
  }
}
.vr-3 {
  position: relative;
  bottom: 257.25%;
  left: 90%;
  border-left: 1.5px solid rgba(255,255,255, 0.1);
  height: 100%;
}
@media only screen and (max-width: 1325px) {
   .vr-3 {
    bottom: 255%;
  }
}
@media only screen and (max-width: 1225px) {
   .vr-3 {
    bottom: 252.5%;
  }
}
@media only screen and (max-width: 1100px) {
   .vr-3 {
    bottom: 248.5%;
  }
}
@media only screen and (max-width: 1045px) {
   .vr-3 {
    bottom: 246.5%;
  }
}
@media only screen and (max-width: 980px) {
   .vr-3 {
    bottom: 244.85%;
  }
}
@media only screen and (max-width: 975px) {
   .vr-3 {
    bottom: 242%;
  }
}
@media only screen and (max-width: 815px) {
   .vr-3 {
    bottom: 233.5%;
  }
}
@media only screen and (max-width: 700px) {
   .vr-3 {
    bottom: 227%;
  }
}
@media only screen and (max-width: 585px) {
   .vr-3 {
    bottom: 236.5%;
  }
}
@media only screen and (max-width: 475px) {
   .vr-3 {
    bottom: 227.25%;
  }
}
@media only screen and (max-width: 420px) {
   .vr-3 {
    bottom: 226.25%;
  }
}
/* What's New Article Cards */
#new-article-list {
  max-width: 1500px;
}
/* Search Bar */
#search-input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  background: rgba(0, 0, 0, 0);
  border-radius: 0%;
}
#search-input::placeholder {
  color: white;
  opacity: 1;
}
#search-button {
  position: relative;
  z-index: 3;
  margin-top: 10px;
  background-color: darkblue;
  border: none;
  color: white;
  padding: 0px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* SignIn*/
#signin-container {
  max-width: 1000px;
  width: 1000px;
}
/* SignUp*/
#signup-container {
  max-width: 1000px;
  width: 1000px;
}




/* Blogs */
#container-cats-tags {
  height: 175px;
  margin-bottom: 10px;
  max-width: 1500px;
  background-color: #11121b;
  border-radius: 10px;
}
#filter-cat-tag-title {
  padding-left: 10px;
  color: white;
  font-family: 'Abel', sans-serif;
}
#cat-tag-container {
  margin-top: 15px;
  padding-left: 5px;
}
#blog-list-card {
  all: initial;
  padding-bottom: 25px;
}
#blog-list-card h2 {
  color: white;
}

/* Home page Card */
article {
  display: flex;
  width: 90vw;
  height: 55vh;
  max-width: 1500px;
  background: #11121b;
  border-radius: 15px;
  box-shadow: 3px 100px 75px -25px #201e28;
  margin-top: 10%;
}
#home-card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
}
@media only screen and (max-width: 925px) {
   #home-card-container {
    grid-template-columns: auto auto;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 475px) {
   #home-card-container {
    grid-template-columns: auto;
  }
}
#home-card {
  width: 350px;
  height: 550px;
  border: 1.5px solid white;
  overflow: hidden;
}
@media only screen and (max-width: 1250px) {
   #home-card {
    width: 300px;
    height: 500px;
  }
}
@media only screen and (max-width: 1100px) {
   #home-card {
    width: 275px;
    height: 475px;
  }
}
@media only screen and (max-width: 1000px) {
   #home-card {
    width: 250px;
    height: 450px;
  }
}
@media only screen and (max-width: 600px) {
   #home-card {
    width: 180px;
    height: 350px;
  }
}
@media only screen and (max-width: 475px) {
   #home-card {
     width: 250px;
     height: 380px;
  }
}
#home-card-img {
  position: relative;
  width: 150%;
  height: 100%;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 2s;
}
#home-card-img:hover {
  transform: scale(1.2);
}
#home-card-title {
  width: 300px;
  position: relative;
  z-index: 5;
  bottom: 550px;
  left: 20px;
  text-shadow: 1px 1px 2px black;
  text-decoration: none !important;
}
@media only screen and (max-width: 1250px) {
   #home-card-title {
    bottom: 500px;
    width: 270px;
  }
}
@media only screen and (max-width: 1100px) {
   #home-card-title {
    width: 260px;
    bottom: 480px;
    left: 10px;
  }
}
@media only screen and (max-width: 1000px) {
   #home-card-title {
    bottom: 460px;
    width: 230px;
    font-size: 1.75rem;
  }
}
@media only screen and (max-width: 850px) {
   #home-card-title {
    width: 200px;
    font-size: 1.65rem;
  }
}
@media only screen and (max-width: 600px) {
   #home-card-title {
    bottom: 360px;
    width: 160px;
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 475px) {
   #home-card-title {
    width: 200px;
    font-size: 1.75rem;
  }
}
.home-card-read-more {
  position: relative;
  z-index: 5;
  bottom: 50px;
  left: 10px;
  padding: 10px;
  border: 1px solid white;
  width: 100px;
  border-radius: 15px;
  background:
    linear-gradient(#3a74b4, transparent),
    linear-gradient(to top left, #1dc3fd, transparent),
    linear-gradient(to top right, #4a45fc, transparent);
  background-blend-mode: screen;
  font-family: 'Abel', sans-serif;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  opacity: 0.7;
}
@media only screen and (max-width: 525px) {
   .home-card-read-more {
     padding: 5px;
     font-size: 1rem;
  }
}
@media only screen and (max-width: 475px) {
   .home-card-read-more {
     padding: 8px;
     font-size: 1.1rem;
  }
}
/* Blog Card */

.card-blog-container {
  all: initial;
  display: flex;
  width: 90vw;
  height: 650px;
  max-width: 1500px;
  background: #3b322f;
  box-shadow: 3px 100px 75px -25px #201e28;
  justify-content: center;
  margin-top: 10%;
  overflow: hidden;
}
.article-button {
  margin-left: 8px;
  padding: 10px;
  border: 1px solid white;
  width: 100px;
  border-radius: 15px;
  background:
  linear-gradient(#3a74b4, transparent),
  linear-gradient(to top left, #1dc3fd, transparent),
  linear-gradient(to top right, #4a45fc, transparent);
  background-blend-mode: screen;
  font-family: 'Abel', sans-serif;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}
.article-button:hover {
  color: white;
}
#blog-card-img-container {
  position: relative;
  left: 80%;
  height: 650px;
  width: 575px;
  background-color: lightblue;
  border-radius: 1px;
}
#blog-card-written {
  position: relative;
  bottom: 98%;
  z-index: 3;
  color: white;
  background-color: transparent;
  height: 25px;
  width: 500px;
  margin-left: 15px;
  font-family: 'Abel', sans-serif;
}
#blog-card-content {
  color: white;
  position: relative;
  z-index: 1;
  bottom: 75%;
  height: 200px;
  width: 350px;
  padding-left: 10px;
  font-family: 'Abel', sans-serif;
}
.blog-excerpt {
  width: 250px;
}
#blog-card-title-container {
  position: relative;
  bottom: 60%;
  padding-left: 10px;
  width: 450px;
}
#blog-card-title {
  font-size: 2.5rem;
  font-family: 'Bebas Neue', cursive;
  color: white;
}
#article-tag-margin-top {
  position: relative;
  top: 30px;
}
#blog-card-tags-cats {
  position: relative;
  top: -180px;
  height: 60px;
  width: 200px;
  font-family: 'Abel', sans-serif;
}
.explore-more-container {
  position: relative;
  bottom: 60%;
  left: 65%;
  text-align: center;
  height: 225px;
  width: 225px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.the-arrow {
  width: 1px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.the-arrow.-left {
  position: absolute;
  top: 60%;
  left: 0;
}
.the-arrow.-left > .shaft {
  width: 0;
  background-color: #4c4c4c;
}
.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
  width: 0;
  background-color: #4c4c4c;
}
.the-arrow.-left > .shaft:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.the-arrow.-left > .shaft:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.the-arrow.-right {
  top: 3px;
}
.the-arrow.-right > .shaft {
  width: 1px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
  width: 8px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.the-arrow.-right > .shaft:before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
.the-arrow.-right > .shaft:after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.the-arrow > .shaft {
  background-color: #4c4c4c;
  display: block;
  height: 1px;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  will-change: transform;
}
.the-arrow > .shaft:before, .the-arrow > .shaft:after {
  background-color: #4c4c4c;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.the-arrow > .shaft:before {
  -webkit-transform-origin: top right;
          transform-origin: top right;
}
.the-arrow > .shaft:after {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.animated-arrow {
  display: inline-block;
  color: #4c4c4c;
  font-size: 1.25em;
  font-style: italic;
  text-decoration: none;
  position: relative;
  top: 105px;
  right: 45px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.animated-arrow:hover {
  color: #808080;
}
.animated-arrow:hover > .the-arrow.-left > .shaft {
  width: 64px;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  background-color: #808080;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
  width: 8px;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  background-color: #808080;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
.animated-arrow:hover > .the-arrow.-left > .shaft:after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.animated-arrow:hover > .main {
  -webkit-transform: translateX(17px);
          transform: translateX(17px);
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft {
  width: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  width: 0;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.animated-arrow > .main {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.animated-arrow > .main > .text {
  margin: 0 16px 0 0;
  line-height: 1;
}
.animated-arrow > .main > .the-arrow {
  position: relative;
}

/* Blog Article */
#article-layout {
  height: 100vh;
  width: 100vw;
  background: #202029;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: scroll;
  overflow-x: hidden;
}
#article {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 18.5%;
  height: 80%;
  width: 90%;
  background: #11121b; /* */
}
#article-container-header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 82%;
  width: 90%;
  display: grid;
}
#article-tags {
  text-align: center;
  font-size: 0.75rem;
}
#article-written {
  height: 30px;
  font-size: 0.8rem;
  text-align: center;
}
#article-container-img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 83%;
  width: 82%;
}
#article-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 80%;
  width: 80%;
  color: white;
  font-size: 0.7rem;
  font-family: 'Abel', sans-serif;
}
#article-related-blogs {
  position: relative;
  bottom: 70%;
  color: grey;
}
/* Overflow*/
#nprogress .bar {
    height: 4px !important;
}
.ql-editor {
    min-height: 300px;
}
.featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}
